%h1 ub101.herokuapp.com
%p  The images here describe an install of Ubuntu 16.04 on a windows10 laptop fresh from the factory.
%p Holler if questions:
%p bikle101 at gmail

%hr/
:css
  p>img {width: 900px;}

%p 
  %img(src='/images/IMG_0007.JPG')
%p 
  %img(src='/images/IMG_0009.JPG')
%p 
  %img(src='/images/IMG_0010.JPG')
%p 
  %img(src='/images/IMG_0011.JPG')
%p 
  %img(src='/images/IMG_0012.JPG')
%p 
  %img(src='/images/IMG_0017.JPG')
%p 
  %img(src='/images/IMG_0018.JPG')
%p 
  %img(src='/images/IMG_0019.JPG')
%p 
  %img(src='/images/IMG_0020.JPG')
%p 
  %img(src='/images/IMG_0021.JPG')
%p 
  %img(src='/images/IMG_0022.JPG')
%p 
  %img(src='/images/IMG_0023.JPG')
%p 
  %img(src='/images/IMG_0024.JPG')
%p 
  %img(src='/images/IMG_0025.JPG')
%p 
  %img(src='/images/IMG_0026.JPG')
%p 
  %img(src='/images/IMG_0027.JPG')
%p 
  %img(src='/images/IMG_0028.JPG')
%p 
  %img(src='/images/IMG_0029.JPG')
%p 
  %img(src='/images/IMG_0030.JPG')
%p 
  %img(src='/images/IMG_0031.JPG')
%p 
  %img(src='/images/IMG_0032.JPG')
%p 
  %img(src='/images/IMG_0033.JPG')
%p 
  %img(src='/images/IMG_0034.JPG')
%p 
  %img(src='/images/IMG_0035.JPG')
%p 
  %img(src='/images/IMG_0036.JPG')
%p 
  %img(src='/images/IMG_0037.JPG')
%p 
  %img(src='/images/IMG_0038.JPG')
%p 
  %img(src='/images/IMG_0039.JPG')
%p 
  %img(src='/images/IMG_0040.JPG')
%p 
  %img(src='/images/IMG_0041.JPG')
%p 
  %img(src='/images/IMG_0042.JPG')
%p 
  %img(src='/images/IMG_0043.JPG')
%p 
  %img(src='/images/IMG_0044.JPG')
%p 
  %img(src='/images/IMG_0045.JPG')
%p 
  %img(src='/images/IMG_0046.JPG')
%p 
  %img(src='/images/IMG_0047.JPG')
%p 
  %img(src='/images/IMG_0048.JPG')
%p 
  %img(src='/images/IMG_0049.JPG')
%p 
  %img(src='/images/IMG_0050.JPG')
%p 
  %img(src='/images/IMG_0051.JPG')
%p 
  %img(src='/images/IMG_0052.JPG')
%p 
  %img(src='/images/IMG_0053.JPG')
%p 
  %img(src='/images/IMG_0054.JPG')
%p 
  %img(src='/images/IMG_0055.JPG')
%p 
  %img(src='/images/IMG_0056.JPG')
%p 
  %img(src='/images/IMG_0057.JPG')
%p 
  %img(src='/images/IMG_0058.JPG')
%p 
  %img(src='/images/IMG_0059.JPG')
%p 
  %img(src='/images/IMG_0060.JPG')
%p 
  %img(src='/images/IMG_0061.JPG')
%p 
  %img(src='/images/IMG_0062.JPG')
%p 
  %img(src='/images/IMG_0064.JPG')
%p 
  %img(src='/images/IMG_0065.JPG')
%p 
  %img(src='/images/IMG_0066.JPG')
%p 
  %img(src='/images/IMG_0067.JPG')
%p 
  %img(src='/images/IMG_0068.JPG')
%p 
  %img(src='/images/IMG_0069.JPG')
%p 
  %img(src='/images/IMG_0070.JPG')
%p 
  %img(src='/images/IMG_0071.JPG')
%p 
  %img(src='/images/IMG_0072.JPG')
%p
  %img(src='/images/IMG_0073.JPG')

