%h1 ub101.herokuapp.com
%h2  The images here describe an install of Ubuntu 16.04 on a windows10 laptop fresh from the factory.
%h2 Holler if questions:
%h2 bikle101 at gmail

%hr/
:css
  img.i900 {width: 900px;}

%p 
  %img.i900(src='/images/IMG_0007.JPG')
%p 
  %img.i900(src='/images/IMG_0009.JPG')
%p 
  %img.i900(src='/images/IMG_0010.JPG')
%p 
  %img.i900(src='/images/IMG_0011.JPG')
%hr/
%p
  %h2 My new silver windows10 laptop from costco for $700 + tax:
  %img.i900(src='/images/IMG_0012.JPG')
%p 
  %img.i900(src='/images/IMG_0017.JPG')
%p 
  %img.i900(src='/images/IMG_0018.JPG')
%p 
  %img.i900(src='/images/IMG_0019.JPG')
%p 
  %img.i900(src='/images/IMG_0020.JPG')
%p 
  %img.i900(src='/images/IMG_0021.JPG')
%p 
  %img.i900(src='/images/IMG_0022.JPG')
%p 
  %img.i900(src='/images/IMG_0023.JPG')
%p 
  %img.i900(src='/images/IMG_0024.JPG')
%p 
  %img.i900(src='/images/IMG_0025.JPG')
%p 
  %img.i900(src='/images/IMG_0026.JPG')
%p 
  %img.i900(src='/images/IMG_0027.JPG')
%p 
  %img.i900(src='/images/IMG_0028.JPG')
%p 
  %img.i900(src='/images/IMG_0029.JPG')
%p 
  %img.i900(src='/images/IMG_0030.JPG')
%p 
  %img.i900(src='/images/IMG_0031.JPG')
%p 
  %img.i900(src='/images/IMG_0032.JPG')
%p 
  %img.i900(src='/images/IMG_0033.JPG')
%p 
  %img.i900(src='/images/IMG_0034.JPG')
%hr/
%p
  %h2 I enable virtualization:
  %img.i900(src='/images/IMG_0035.JPG')
%hr/
%p 
  %h2 Legacy: Disabled, Secure-Boot: Enabled, ... Bad:
  %img.i900(src='/images/IMG_0036.JPG')
%p 
  %h2 Legacy: Enabled, Secure-Boot: Disabled, ... Good:
  %img.i900(src='/images/IMG_0037.JPG')
%p 
  %h2 I changed boot-order too:
  %img.i900(src='/images/IMG_0038.JPG')
%p 
  %img.i900(src='/images/IMG_0039.JPG')
%p 
  %img.i900(src='/images/IMG_0040.JPG')

%hr/
%p
  %h2 I get a factory-fresh USB stick:
  %img.i900(src='/images/IMG_0041.JPG')

%hr/
%p
  %h2 I plug it into my other black linux laptop:
  %img.i900(src='/images/IMG_0042.JPG')
%p 
  %img.i900(src='/images/IMG_0043.JPG')
%hr/
%p
  %h2 I bring up: 'startup disk creator'
  %h2 At the top, it shows linux downloads I did earlier from ubuntu.com
  %h2 At the bottom, it shows my USB stick:
  %img.i900(src='/images/IMG_0044.JPG')
%hr/
%p 
  %h2 I let it work:
  %img.i900(src='/images/IMG_0045.JPG')
%p 
  %img.i900(src='/images/IMG_0046.JPG')
%hr/
%p
  %h2 I shutdown the black laptop and pull out the USB stick.
  %h2 I plug the USB stick into my new silver laptop:
  %img.i900(src='/images/IMG_0047.JPG')
%hr/
%p
  %h2 I shutdown/startup the silver laptop:
  %img.i900(src='/images/IMG_0048.JPG')
%hr/
%p 
  %h2 The laptop 'sees' the USB stick:
  %img.i900(src='/images/IMG_0049.JPG')
%hr/
%p 
  %h2 I ask it to install ubuntu:
  %img.i900(src='/images/IMG_0050.JPG')
%p 
  %img.i900(src='/images/IMG_0051.JPG')
%p 
  %img.i900(src='/images/IMG_0052.JPG')
%p 
  %img.i900(src='/images/IMG_0053.JPG')
%p 
  %img.i900(src='/images/IMG_0054.JPG')
%p 
  %img.i900(src='/images/IMG_0055.JPG')
%p 
  %img.i900(src='/images/IMG_0056.JPG')
%p 
  %img.i900(src='/images/IMG_0057.JPG')
%p 
  %img.i900(src='/images/IMG_0058.JPG')
%p 
  %img.i900(src='/images/IMG_0059.JPG')
%p 
  %img.i900(src='/images/IMG_0060.JPG')
%hr/
%p
  %h2 The laptop wants me to press 'Restart Now'.
  %h2 Instead, I shutdown the laptop and pull out the USB stick:
  %img.i900(src='/images/IMG_0061.JPG')
%hr/
%p
  %h2 I power-up (HP product mgr put the button in a hiding place, bad design):
  %img.i900(src='/images/IMG_0062.JPG')
%p 
  %img.i900(src='/images/IMG_0064.JPG')
%hr/
%p 
  %h2 Ubuntu boots!:
  %img.i900(src='/images/IMG_0065.JPG')
%p 
  %img.i900(src='/images/IMG_0066.JPG')
%p 
  %img.i900(src='/images/IMG_0067.JPG')
%p 
  %img.i900(src='/images/IMG_0068.JPG')
%hr/
%p 
  %h2 Does WIFI work? I click the pie-slice:
  %img.i900(src='/images/IMG_0069.JPG')
%p 
  %img.i900(src='/images/IMG_0070.JPG')
%p 
  %img.i900(src='/images/IMG_0071.JPG')
%p 
  %img.i900(src='/images/IMG_0072.JPG')
%hr/
%p
  %h2 WIFI works. Yay!
  %img.i900(src='/images/IMG_0073.JPG')

